.bankonline {
  &__container {
    background-color: white;
    padding: 0rem 2rem 0 2rem;
  }
  &__title {
    padding-bottom: 1rem;
    font-size: 22px;
    padding-top: 1rem;
  }

  &__image {
    width: 150px;
    &--scale {
      transform: scale(1.14);
    }
  }

  &__body {
    font-weight: 300;
    margin-bottom: 1rem;

    &--blue {
      font-weight: bold;
      color: #0075be;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.image__container {
  display: flex;
  gap: 1rem;
}

.image__phone {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
